{% extends 'main/base.html' %}
{% block title %}Event Highlights{% endblock %}

{% block css_link %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/highlights_css/highlights.css' %}">
{% endblock %}

{% block body %}

<div class="body-section">
    <div class="heading">
        <h1>Event Highlights</h1>
    </div>

    <div class="event event-1">

        <div class="event-name">
            <h2>Forest Cruise</h2>
        </div>

        <div class="slideshow-container">
            <div class="mySlides1 mySlides">
              <img src="{% static 'main/images/highlights_images/event_1/image2.jpeg' %}">
            </div>
          
            <div class="mySlides1 mySlides">
              <img src="{% static 'main/images/highlights_images/event_1/image3.jpeg' %}">
            </div>
          
            <div class="mySlides1 mySlides">
              <img src="{% static 'main/images/highlights_images/event_1/image4.jpeg' %}">
            </div>
          
            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>

    </div>



    <div class="event event-2">
        
        <div class="event-name">
            <h2>Galveston Beach Cruise</h2>
        </div>

        <div class="slideshow-container">
            <div class="mySlides2 mySlides">
              <img src="{% static 'main/images/highlights_images/event_2/IMG_4631.JPG' %}">
            </div>
          
            <div class="mySlides2 mySlides">
              <img src="{% static 'main/images/highlights_images/event_2/IMG_4632.JPG' %}">
            </div>
          
            <div class="mySlides2 mySlides">
              <img src="{% static 'main/images/highlights_images/event_2/IMG_4633.JPG' %}">
            </div>
            
            <div class="mySlides2 mySlides">
              <img src="{% static 'main/images/highlights_images/event_2/IMG_4634.JPG' %}">
            </div>
          
            <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
        </div>

    </div>



    <div class="event event-3">
        
        <div class="event-name">
            <h2>Trunk or Treat Meet at D3 Motorsports</h2>
        </div>

        <div class="slideshow-container">
            <div class="mySlides3 mySlides">
              <img src="{% static 'main/images/highlights_images/event_3/IMG_4635.JPG' %}">
            </div>
          
            <div class="mySlides3 mySlides">
              <img src="{% static 'main/images/highlights_images/event_3/IMG_4636.JPG' %}">
            </div>
          
            <div class="mySlides3 mySlides">
              <img src="{% static 'main/images/highlights_images/event_3/IMG_4637.JPG' %}">
            </div>
            
            <div class="mySlides3 mySlides">
              <img src="{% static 'main/images/highlights_images/event_3/IMG_4638.JPG' %}">
            </div>
          
            <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
        </div>

    </div>



    <div class="event event-4">
      <div class="event-name">
        <h2>Christmas Lights Cruise</h2>
      </div>

      <div class="event-4-image">
        <img src="{% static 'main/images/highlights_images/event_4/IMG_4639.JPG' %}">
      </div>

    </div>


</div>

{% endblock %}


{% block script %}
<script>
var slideIndex = [1,1,1];
var slideId = ["mySlides1", "mySlides2", "mySlides3"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}    
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex[no]-1].style.display = "block";  
}
</script>
{% endblock %}